* {
    box-sizing:border-box; 

} 
.third {
    height: 135px;
    min-width: 88%;
    display: inline-flex;
    padding-left: 10px;
    color: #003896; 
    
}
nav {
    width: 1100px;
    height: 117px;
    margin-left: 22px;
    background: #FF4A00;
    display: inline-flex;
    font-size: 24px;
    color: #003896; 
    border-top: solid;
    border-bottom: solid;
    
}

nav a {
    height: 110px;
    width: 220px;
    padding-top: 40px;
    padding-left: 58px;
    padding-bottom: 9px;
    font-family: Bookman Old Style; 
    font-weight: bold;
    margin-left: 0px;
    text-decoration: none;
            
 }
nav a:hover{
    background-color: #ff5f00;
}

.map-of-places {
    margin-left: 80px;
    padding-bottom: 8px;
    width: 69%;
    float: left;
        
}
.list-of-places {
    margin-right: 50px;
    line-height: 45px;
    width: 20%;
    float: right;
    font-family: Bookman Old Style;
    Font-size: 20px;
    color: #0021a5;
}

h1 {
    display: inline-block;
    
         
}

h2 {
    min-width: 80%;
    padding-left: 20px;
    margin-top: 10px; 
    margin-bottom: 10px;
    font-family: Bookman Old Style;
    font-size: 32px;
    color: #0021a5;
    background-color: #ff732f;
    border-bottom: solid;
    border-left: solid;
}


p {
    width: 930px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 52px;
    margin-left: 550px;
    font-family: Bookman Old Style; 
    font-size: 20px; 
    line-height: 35px; 
}


aside {
        float: left;
        padding-top: 10px;
         
}

.wrapper2 {
    min-width: 84%;
    height: 465px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 47px;
    padding-left: 25px;
    padding-right: 25px;
    
        
     
}
section p {
    line-height: 10px

}
footer {
    height: 68px;
    width: 1550px;
    display: inline-block;
    margin: 5px; 
    margin-top: 152px;
    background-color: #003896; 
    border: solid; 
    border-color: #ff4a00;
}

.copyright {
    height: 36px;
    margin-left: 420px;
    width: 55%;
    padding-bottom: 1px;
}
footer li { 
    color: #ff4a00
            
}




