* {
    box-sizing:border-box; 
    
} 
.third {
    height: 126px;
    width: 1350px;
    margin-left: 100px; 
    margin-right: 50px;
    display: inline-flex;
    color: #0021A5; 
    
}
nav {
    width: 950px;
    height: 126px;
    margin-left: 10px;
    background: #FF4A00;
    display: inline-flex;
    font-size: 18px;
    color: #0021A5; 
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
}

nav a {
    height: 122px;
    width: 186px;
    padding-top: 52px;
    text-align: center; 
    font-family: Bookman Old Style; 
    text-decoration: none;
            
 }
nav a:hover{
    background-color: #ff5f00;
}

h1 {
    display: inline-block;
             
}

h2 {
    width: 1350px;
    min-width: 90%;
    padding-left: 50px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: Bookman Old Style;
    font-size: 22px;
    color: #ff5f00;
    background-color: #0005A5;
    border-bottom: solid;
    border-width: 4px;
}


p {
    padding: 10px; 
    font-family: Bookman Old Style; 
    font-size: 20px; 
    line-height: 30px; 
}


aside {
        float: left;
        height: 400px;
        margin-left: 30px;
            
         
}

.wrapper2 {
    width: 1350px; 
    height: 500px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 35px ;
            
     
}
.feature-summary p{
    width: 700px;
    margin-left: 600px;
    padding-left: 20px;
    

}
section {
    width: 710px; 
    height: 367px; 
    margin-left: 60px;
    display: inline-flex;
        
}
.spot-summary p {
    width: 450px; 
    line-height: 32px;
   
}
.spot-rank p{
    margin-left: 60px;
    margin-top: 30px;
    
    

}
.map-of-places {
    margin-left: 30px;
    width: 64%;
    float: left;
        
}
.list-of-places {
    margin-right: 30px;
    line-height: 39px;
    width: 25%;
    float: right;
    font-family: Bookman Old Style;
    Font-size: 20px;
    color: #0021a5;
}

footer {
    height: 40px;
    width: 1350px;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 50px;
    background: #ff5f00;
    
}

.copyright {
    height: 35px;
    margin-left: 260px;
    width: 65%;
    
}
footer li { 
    color: #0021A5;
    
            
}





